@font-face {
    font-family: 'Circe';
    src: url(../fonts/CirceBold.woff2) format('woff2');
}
@font-face {
    font-family: 'Gilam';
    src: url(../fonts/Gilam-Bold.woff2) format('woff2');
    src: url(../fonts/Gilam-Regular.woff2) format('woff2');
}
header {
    background: #1C1C1C;
    padding-top: 45px;
    padding-bottom: 85px;
}
.content-width {
    max-width: 1460px;
}
.container-head { 
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.phone-number {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Circe';
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    padding-right: 40px;
}
.phone-number span {
    color: #D6AF76;
}
.callback {
    text-decoration: none;
    font-family: 'Circe';
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    border: #E4B564 1px solid;
    padding: 10px 25px;
}
.callback .phone {
    padding-right: 10px;
    background: no-repeat;
    background-image: url(../img/phone.png);
    width: 13px;
    height: 13px;
    display: inline-block;
}
h2 {
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
    font-family: Gilam;
}
main {
    background: #1C1C1C;
}
.sec1 {
    background: url(../img/header.jpeg) center/cover no-repeat;
    background-attachment: fixed;    
}
.sec2 {
    
}
.heating-networks {
    margin: 0 auto;
    padding: 40px 0 80px 0;
}
.heating-networks p {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    font-family: Gilam;
    margin: 40px auto;
    text-align: left;
}
.heat-net {
    height: 940px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
}
.heat-net li {
    color: #FFFFFF;
    font-family: 'Gilam';
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item-1 {
    background-color: #634F2C;
    grid-column-start: 1;
    grid-column-end: span 2;
}
.item-2 {
    background-color: #B4A385;
    grid-column-start: 3;
    grid-column-end: span 2;
    text-align: center;
    padding: 0 40px;
}
.item-3 {
    background-color: #E4B564;
    grid-column-start: 5;
    grid-column-end: span 2;
}
.item-4 {
    background-color: #635A4A;
    grid-column-start: 1;
    grid-column-end: span 3;
}
.item-5 {
    background-color: #B08C4D;
    grid-column-start: 4;
    grid-column-end: span 3;
}
.equipment-park {
    margin: 0 auto;
    padding-bottom: 190px;
}
.equipment-park h2 {
    padding: 80px 0;
}
.equipment-park ul li{
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
}
.masonry {
    display: flex;
    flex-flow: column wrap;
    height: 900px;
    gap: 25px;
}
.masonry li {  
    box-sizing: border-box;
    width: 32%;
    padding: 45px 50px;
}
.i1 {
    background-color: #0E0E0E;
    color: #FFFFFF;
    height: 310px;
    order: 1;
}
.i1 span, .i2 span {
    font-weight: 700;
}
.i2 {
    background-color: #242424;
    color: #FFFFFF;
    height: 440px;
    order: 3;
}
.i3 {
    background-color: #1F1F1F;
    color: #FFFFFF;
    height: 255px;
    order: 5;
}
.i4 {
    background-color: #1F1F1F;
    color: #FFFFFF;
    height: 560px;
    order: 2;
}
.i5 {
    background-color: #E4B564;
    color: black;
    height: 405px;
    order: 4;
}
.i6 {
    background-color: #0E0E0E;
    color: #FFFFFF;
    height: 310px;
    order: 6;
}
.i7 {
    background-color: #0A0909;
    color: #FFFFFF;
    height: 280px;
    order: 7;
}
footer {
    background: url(../img/parallax-bg.jpeg) center/cover no-repeat;
    background-attachment: fixed;
}
.clients-projects {
    margin: 0 auto;
    padding-top: 170px;    
}
.footer-title {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-bottom: 70px;
}
.footer-title a {
    text-decoration: none;
    color: #E4B564;
    border: #E4B564 1px solid;
    font-family: 'Circe';
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    padding: 10px 40px;
}
.projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 780px;
}
.projects li {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pr1 {
    background-color: #634F2C;
    grid-area: 1 / 1 / 2 / 2;
} 
.pr2 {
    background-color: #E8D2ABC2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: 1 / 2 / 2 / 3;
}
.pr2 img:nth-child(2) {
    width: 140px;
    height: 55px;
}
.pr2 p {
    font-family: 'Gilam';
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    padding: 15px 80px;
}
.pr2 p span {
    text-align: center;
    font-weight: 700;
}
.pr3 {
    background-color: #E4B564;
    grid-area: 1 / 3 / 2 / 4;
}
.pr4 {
    background-color: #635A4A;
    grid-area: 2 / 1 / 3 / 2;
}
.pr5 {
    background-color: #B08C4D;
    grid-area: 2 / 2 / 3 / 3;
}
.pr6 {
    background-color: #634F2C;
    grid-area: 2 / 3 / 3 / 4;
}
.bottom {
    height: 240px;
    background: #1C1C1C;
}